.footerNav{
    position: fixed;
    bottom:0;
    width:100%;
}
.footerNav ul li{
    width:25%;
    height: 1.2rem;
    text-align: center;
    line-height: 1.2rem;
    float: left;
    background-color: #666;
    color: #fff;
}
.footerNav ul li a{
    color: #fff;
}
.footerNav ul li .active{
    color: #732282;
}